server {
    listen 80;
    root /usr/share/nginx/html;
    location / {
        try_files $uri $uri/ /index.html =404;
    }
    location /mind/ {
        proxy_pass ${ENTY_MIND_ADDRESS};
    }
    location /storage-address {
        add_header Content-Type text/plain;
        return 200 '${ENTY_STORAGE_ADDRESS}';
    }
    location /image-thumbnail/ {
        proxy_pass ${ENTY_IMAGE_THUMBNAIL_ADDRESS};
    }
}
